body {
    background-color:#1C7C54;
  }
 header{
  background-color: rgb(38, 91, 236) 
 }
main{
  background-color: #254F93;
}

h1{
text-align: center;
color : whitesmoke;

}
h2{
  color: white;
  text-align: left;
}
.nav {
  text-align: center;
background-color: aquamarine;
padding: 20px;
}

a{
margin: 15px;
}

p {
  color: white;
}

ul {
  color: white;
}
footer{
  color: white;
}